NEXT_PUBLIC_SITE_URL=https://cjohnmizo.in
GOOGLE_SITE_VERIFICATION=
RESEND_API_KEY=
CONTACT_PUBLIC_EMAIL=contact@cjohnmizo.in
CONTACT_FROM_EMAIL="C. John Remthang <contact@cjohnmizo.in>"
CONTACT_TO_EMAIL=
ADMIN_EMAIL=
